<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="../static/css/estilos.css">
		<title>Consejos de Salud para Mascotas</title>
	</head>
	
	<body>
		<header id="headerConsejos">
			<div>
				<h1>Pet Shop</h1>
				<img id="imgHeaderConsejos" src="../static/images/Pet Shop.jpg" alt="PetShop" title="Siempre pensando en tu mascota">
			</div>
			<div id="divHeaderSegundo">
				<h1>Consejos de Salud para su Mascota</h1>
			</div>
		</header>
		<section id="sectionConsejosDeSalud">
			<article>
				<h3><strong>1. Un lugar para tu mascota</strong></h3>
				<p>Es importante armar un kit básico para su cuidado. ¿Qué debe tener?  Cama, recipientes 
				para agua y comida, collar, correa, juguetes. Por supuesto, este kit puede variar dependiendo 
				de las necesidades y características del animal.</p>
			</article>
			<article>
				<h3><strong>2. Crea un horario para sus necesidades</strong></h3>
				<p>Establece una rutina regular de alimentación para que consigan hacer sus 
				necesidades más o menos siempre a la misma hora. En el caso de tener un perro, intenta 
				que tenga un horario establecido para salir a la calle.</p>
			</article>
			<article>
				<h3><strong>3. Alimentación acorde para tu mascota</strong></h3>
				<p>Sea cual sea el tipo de comida que le vas a dar, asegúrate de elegirla con ayuda 
				de tu veterinario y de brindarle una alimentación sana y balanceada. Siempre debe tener 
				agua fresca y limpia y es importante que laves sus platos diariamente.</p>
			</article>
			<article>
				<h3><strong>4. Cuida su higiene y atención sanitaria</strong></h3>
				<p>Según la mascota que tengas, deberás informarte bien sobre si tienes que cepillarla 
				y con cuánta frecuencia, así como cada cuanto hay que bañarla. Es muy importante hacerlo de 
				la forma adecuada para que su salud no se vea afectada.
				Además, una correcta atención sanitaria es básica para que el animal esté seguro. Al adoptar 
				a una mascota, se debe tener un control de las visitas al veterinario, así como las vacunas 
				pertinentes. Asimismo, si notas algún comportamiento extraño como pérdida de apetito, rechazo 
				al agua, variación exagerada de peso o lentitud al jugar, acude directamente al especialista 
				para que lo examine.</p>
			</article>
			<article>
				<h3><strong>5. Ejercitación para mascotas</strong></h3>
				<p>En cuanto al ejercicio, también habrá que acomodarlo al tipo de animal. Los perros 
				pequeños, por ejemplo, suelen ser más enérgicos que los grandes, por lo que necesitarán más 
				tiempo para jugar.
				Independientemente de su raza todos los perros y gatos necesitan ejercicio, por lo 
				que es importante buscar opciones de diversión a su lado. En el caso de los perros, contempla 
				opciones como trotar a su lado, jugar con la pelota o con un frisby. ¿Y los gatos? Una buena 
				idea es darle juguetes llamativos (bolas de ping pong o ratones de tela) para que interactúen 
				con ellos.</p>
			</article>
			<article>
				<h3><strong>6. Elige a un buen veterinario para tu mascota</strong></h3>
				<p>Así como seguramente tienes un médico de cabecera, a quien le consultas cualquier 
				molestia que tienes, es importante que busques un profesional que se encargue del cuidado 
				y la salud de tu mascota. También enfatiza, que tienda en una zona cercana a la vivienda 
				de la mascota y que se pueda tener acceso y comunicación con él de manera permanente.</p>
			</article>
			<article>
				<h3><strong>7. Entrenar a tu mascota</strong></h3>
				<p>La mejor forma de alejar a tu mascota de algún posible peligro es entrenándolo 
				correctamente. Un primer paso es que reconozca su nombre. Para conseguirlo más rápidamente, 
				puedes pronunciarlo cada vez que le felicites y le des de comer.
				Por otra parte, también debes acostumbrarle a los pequeños cambios poco a poco. Por ejemplo, 
				si tienes pensado hacer un viaje largo en coche, realiza antes algunos trayectos cortos con 
				tu mascota para que se sienta más cómodo.</p>
			</article>
			<article>
				<h3><strong>8. Esterilización para mascotas</strong></h3>
				<p>La esterilización es un proceso quirúrgico que consiste en la retirada total o 
				parcial de los órganos reproductores y se realiza tanto en los machos como en las hembras. 
				Este procedimiento incrementa su calidad y esperanza de vida ya que disminuye la posibilidad 
				de que se desarrollen infecciones uterinas, tumores y enfermedades de los órganos reproductores.
				Existen otros métodos de control de la reproducción basados en la aplicación de fármacos pero 
				orales o inyectados si bien el método de elección es la castración por tres razones: para 
				prevenir gestaciones no deseadas, para prevenir el desarrollo de enfermedades antes mencionadas, 
				y para controlar o eliminar la conducta relacionada con las hormonas sexuales.</p>
			</article>
		</section>
		<footer> 
			<p> Copyright 2023 - Pet Shop - Diseñado por Grupo 7 - Jujuy - República Argentina</p>
		</footer>
		
	</body>
</html>