<!DOCTYPE html>
	<html>
		<head lang="es">
			<meta charset="UTF-8">
			<title>Inicio Grupo 7</title>
		</head>
		<section>
		  <h2>Productos Para Mascotas</h2>
		  <article>
		    <img src="/static/images/Alimento Clan Club.jpg" alt="Alimento Clan Club" title="Alimento Clan Club">
		  </article>
		  <article>
		    <img src="/static/images/Alimento Dar Win.jpg" alt="Alimento Dar Win" title="Alimento Dar Win">
		  </article>
		  <article>
		    <img src="/static/images/Alimento Dog Selection.jpg" alt="Alimento Dog Selection" title="Alimento Dog Selection">
		  </article>
		  <article>
		    <img src="/static/images/Alimento Dr. Perrot.jpg" alt="Alimento Dr. Perrot" title="Alimento Dr. Perrot">
		  </article>
		  <article>
		    <img src="/static/images/Alimento Enlatado Gato.jpg" alt="Alimento Enlatado Gato" title="Alimento Enlatado Gato">
		  </article>
		  <article>
		    <img src="/static/images/Alimento Enlatado Perro.jpg" alt="Alimento Enlatado Perro" title="Alimento Enlatado Perro">
		  </article>
		  <article>
		    <img src="/static/images/Anti Cloro.jpg" alt="Anti Cloro" title="Anti Cloro">
		  </article>
		  <article>
		    <img src="/static/images/Bocadito Para Gato.jpg" alt="Bocadito Para Gato" title="Bocadito Para Gato">
		  </article>
		  <article>
		    <img src="/static/images/Bola Para Hamsters.jpg" alt="Bola Para Hamsters" title="Bola Para Hamsters">
		  </article>
		  <article>
		    <img src="/static/images/Bombacha Perro Gato.jpg" alt="Bombacha Perro Gato" title="Bombacha Perro Gato">
		  </article>
		  <article>
		    <img src="/static/images/Caramelera Bocaditos.jpg" alt="Caramelera Bocaditos" title="Caramelera Bocaditos">
		  </article>
		  <article>
		    <img src="/static/images/Comedor Plegable.jpg" alt="Comedor Plegable" title="Comedor Plegable">
		  </article>
		  <article>
		    <img src="/static/images/Dispenser.jpg" alt="Dispenser" title="Dispenser">
		  </article>
		  <article>
		    <img src="/static/images/Dispernser Champu.jpg" alt="Dispernser Champu" title="Dispernser Champu">
		  </article>
		  <article>
		    <img src="/static/images/Golosinas.jpg" alt="Golosinas" title="Golosinas">
		  </article>
		  <article>
		    <img src="/static/images/Juguetes.jpg" alt="Juguetes" title="Juguetes">
		  </article>
		  <article>
		    <img src="/static/images/Oreja de Chancho.jpg" alt="Oreja de Chancho" title="Oreja de Chancho">
		  </article>
		  <article>
		    <img src="/static/images/Pelota de Tela.jpg" alt="Pelota de Tela" title="Pelota de Tela">
		  </article>
		  <article>
		    <img src="/static/images/Platos.jpg" alt="Platos" title="Platos">
		  </article>
		  <article>
		    <img src="/static/images/Rascador.jpg" alt="Rascador" title="Rascador">
		  </article>
		  <article>
		    <img src="/static/images/Toallas Humedas.jpg" alt="Toallas Humedas" title="Toallas Humedas">
		  </article>
		</section>

		
		<body>
		
		</body>
	</html>