<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=devic.width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>PetShop - Inicio</title>
	</head>
	<body>
		<header>
			<h1>Pet Shop</h1>
			<img src="../static/images/Pet Shop.jpg" alt="PetShop" title="Siempre pensando en tu mascota">
			<nav>
			  <ul>
			    <li><a href="productos.html">Productos</a></li>
			    <li><a href="servicios_de_paseo.html">Servicios de Paseo</a></li>
			    <li><a href="consejos_de_salud.html">Consejos de Salud</a></li>
			    <li><a href="sucursales.html">Sucursales</a></li>
			    <li><a href="contactanos.html">Contacto</a></li>  
			  </ul>
			</nav>
		
		</header>
		
	</body>
</html>