<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
 <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
 	<section id="productos">
  <h2>Productos para Mascotas</h2>
  <ul>
    <li>
      <img src="../static/images/Alimento Can Club.jpg" alt="Alimento Can Club">
      <h3>Alimento Can Club</h3>
      <p>Es un alimento completo y balanceado para un perro normalmente activo. 
		  Posee las proteínas, vitaminas, minerales y ácidos grasos necesarios 
		  que el perro adulto necesita para estar sano y está hecho con ingredientes de calidad.</p>
    </li>
    <li>
       <img src="../static/images/Alimento Dar Win.jpg" alt="Alimento Dar Win">
      <h3>Alimento Dar Win</h3>
      <p>DrDarwin High Evolution es un alimento superpremium para perros con actividad física intensa. 
		 Rico en carne de cordero y arroz, con extractos naturales de yuca para una mejor digestión, 
		 con omega 3 y omega 6 para una piel y pelo sanos y brillantes, con antioxidantes naturales, 
		 con taurina para una mejor función ocular y cerebral, con glucosamina y condroitina para unos huesos y articulaciones fuertes, 
		 elaborado en crujientes croquetas que reducen la aparición de sarro y placa en la dentadura de tu mascota. 
		 Su fórmula equilibrada aporta toda la energía que tu perro necesita pero controlando su peso ideal.</p>
    </li>
    <li>
      <img src="../static/images/Alimento Dog Selection.jpg" alt="Alimento Dog Selection">
      <h3>Alimento Dog Selection</h3>
      <p>DOG SELECTION CRIADORES está desarrollado para ser la dieta única e integral de nuestro perro. 
		 Es ideal para ofrecerlo desde el destete, sin el agregado de suplementos ni la combinación con otros alimentos.</p>
    </li>
    <li>
      <img src="../static/images/Alimento Dr. Perrot.jpg" alt="Alimento Dr. Perrot">
      <h3>Alimento Dr. Perrot</h3>
      <p>Alimento balanceado Dr. PERROT perros adultos. Presentación: Bolsa x 15 kg. Nutrición de calidad para el bienestar de tu perro. 
		 Los alimentos para perros Dr. PERROT están formulados para cubrir las necesidades básicas de las mascotas, 
		 posicionándose como un producto económico con una excelente fórmula balanceada.</p>
    </li>
    <li>
      <img src="../static/images/Alimento Enlatado Gato.jpg" alt="Alimento Enlatado Gato">
      <h3>Alimento Enlatado Gato</h3>
      <p>Los alimentos enlatados para gatos es una parte esencial de la dieta de tu gato. 
		 Si bien los gatos disfrutan de una variada selección de alimentos y deben recibir alimentos secos y húmedos, 
		 la comida para gatos enlatada tiene la ventaja de un alto contenido de agua, lo que ayuda a mantener a tu gatito hidratado.</p>
    </li>
    <li>
      <img src="../static/images/Alimento Enlatado Perro.jpg" alt="Alimento Enlatado Perro">
      <h3>Alimento Enlatado Perro</h3>
      <p>El alimento enlatado para perros tiene entre 375 y 950 kilocalorías metabolizables por Kg. 
		 El consumo total de alimento es alto ya que su contenido calórico es bajo. 
		 El balance de nutrientes está dado en gran medida por el tipo de tejido animal utilizado en la dieta.</p>
    </li>
    <li>
      <img src="../static/images/Anti Cloro.jpg" alt="Anti Cloro">
      <h3>Anti Cloro</h3>
      <p>Anticloro El anticloro es un producto químico que no posee ni olor ni color 
		 mayormente fabricado con Tiosulfato de sodio Na2S2O3, su utilización para cualquier tipo de pecera 
		 es muy común ya que acelera la evaporación del cloro produciendo una reacción química con este, 
		 1 ​ que sin esta reacción normalmente dura aproximadamente 24 horas.</p>
    </li>
    <li>
      <img src="../static/images/Bocadito Para Gato.jpg" alt="Bocadito Para Gato">
      <h3>Bocadito Para Gato</h3>
      <p>El Catnip Ball Deshidratado de ZOOTEC es un juguete 100% orgánico que atraerá a tu mascota, 
		 por lo que será irresistible jugar con ella. El gato puede lamerla y morderla y lo mantendrá entretenido. 
		 La hierba gatera anima a tus gatos a jugar, a moverse y hace que se sientan bien.</p>
    </li>
    <li>
      <img src="../static/images/Bola Para Hamsters.jpg" alt="Bola Para Hamsters">
      <h3>Bola Para Hamsters</h3>
      <p>Bola recreativa para hámster , ideal para esta clase de roedores que son muy activos.
		 Esfera en acrílico que permite la ejercitación del hámster en espacios libres. Para más seguridad, el espacio debe estar libre de obstáculos y estar retirado de escaleras que puedan ocasionar accidentes.
		 Tu mascota se divertirá al máximo, siendo muy recomendable para sacar de la jaula al animal de vez en cuando.
		 Se recomienda jugar 30 minutos por cada sesión y luego devolver a la jaula. 
		 Disponible en diámetros de 19 cm (hámster sirios) y diámetros de 15 cm (hámster ruso)
		 Colores: amarillo, lila, azul.</p>
    </li>
    <li>
      <img src="../static/images/Bombacha Perro Gato.jpg" alt="Bombacha Perro Gato">
      <h3>Bombacha Perro Gato</h3>
      <p>Son una solución simple e higiénica para la Temporada de las hembras en celo, 
		 o cachorros que aún están aprendiendo en casa - Para perros o gatos con incontinencia. 
		 Agradable material suave, esta bombacha es reutilizable, fácil de usar y lavar, 
		 ideal para mantener a su mascota en condiciones higiénicas y cómodas.</p>
    </li>
    <li>
      <img src="../static/images/Caramelera Bocaditos.jpg" alt="Caramelera Bocaditos">
      <h3>Caramelera Bocaditos</h3>
      <p>GoloCan son bocaditos o golosinas secas y húmedas para perros y gatos, elaboradas con dedicación artesanal, 
		 especiales para agasajar a sus mascotas en todo momento.- Son golosinas secas (galletas duras) y blandas (semi-húmedas) 
		 que no requieren refrigeración.</p>
    </li>
    <li>
      <img src="../static/images/Comedor Plegable.jpg" alt="Comedor Plegable">
      <h3>Comedor Plegable</h3>
      <p>Comedero plegable para perros, práctico accesorio para mascotas en todos los sentidos: 
		  ligero, resistente, fácil de lavar, cómodo para llevar a todas partes, tamaño ideal. 
		  Completa los paseos de tu perro con este original plato plegable que por su composición 
		  también puede ser utilizado como bebedero.</p>
    </li>
    <li>
      <img src="../static/images/Dispenser.jpg" alt="Dispenser">
      <h3>Dispenser</h3>
      <p> Apto para perros pequeños o gatos- Contenedor giratorio con dos aperturas para agua o alimento. 
		 Dispensa el alimento o agua de forma automática- Es antideslizante y estable- Fácil de rellenar- 
		 Mantiene el alimento y agua frescos- Fabricado en materiales aptos para su mascota- Transparente para controlar la cantidad- 
		 Apto lavavajillas- Fácil de limpiar- Capacidad: 1,5lts- Material: Plástico.</p>
    </li>
    <li>
      <img src="../static/images/Dispernser Champu.jpg" alt="Dispernser Champu">
      <h3>Dispernser Champu</h3>
      <p>Con un diseño dispensador de champú, el cepillo de masaje para perros brinda un baño rápido y completo para sus mascotas y 
		 masajea la piel para mejorar la circulación sanguínea. 
		 La cerda del cepillo de silicona es muy suave, por lo que no dañará la piel de su mascota. 
		 El dispensador de champú para mascotas acepta todo tipo de líquido.</p>
    </li>
    <li>
      <img src="../static/images/Golosina.jpg" alt="Golosinas">
      <h3>Golosinas</h3>
      <p>GOLOSINA ASADITOS es un suplemento alimenticio producido con carnes frescas y con ingredientes seleccionados.
		 entretenimiento sano y con componentes naturales
		 Colabora con la mantención de la salud bucal
		 Contribuye con su aporte nutricional, en la nutrución de la mascota.</p>
    </li>
    <li>
      <img src="../static/images/Juguetes.jpg" alt="Juguetes">
      <h3>Juguetes</h3>
      <p>Comedero con dispenser automático para perros y gatos. 
		 El sistema es automático porque permite que el comedero siempre se mantenga lleno. 
		 Contiene goma antideslizante en sus extremos para evitar el movimiento.
		 Producto no tóxico, apto para el uso de mascotas.</p>
    </li>
    <li>
      <img src="../static/images/Oreja de Chancho.jpeg" alt="Oreja de Chancho">
      <h3>Oreja de Chancho</h3>
      <p>Recomendado para perros medianos y grandes Entretenimiento asegurado, evita que tu peludo muerda objetos o muebles 
		 *1 unidad Ingredientes: 100% Oreja de cerdo deshidratada Información Nutricional: Proteína 73%, contenido en grasa 15%, 
		 humedad 12% + Ingredientes 100% naturales, sin conservantes ni procesados y de origen nacional.</p>
    </li>
    <li>
      <img src="../static/images/Pelota de Tela.jpeg" alt="Pelota de Tela">
      <h3>Pelota de Tela</h3>
      <p> Medida: 37cm de circunferencia * Pelota apta para agua. * Ningún juguete para perro/gato es indestructible. 
		  Se debe prestar atención a la forma de juego de su mascota, ya que si la intención es romperlo es posible que lo haga.</p>
    </li>
    <li>
      <img src="../static/images/Platos.jpg" alt="Platos">
      <h3>Platos</h3>
      <p>El comedero/bebedero se puede usar para almacenar comida o agua para su mascota - 
		 De acero inoxidable - Con base antideslizante - Ideal para gatos y razas medianas - 
		 Capacidad: 150 ml MEDIDAS: CIRCUNFERENCIA BOCA 45 cm - Medidas: base 21,5 cm - boca 14 cm - alto 6 cm.
		 Consultar por otras medidas.</p>
    </li>
    <li>
      <img src="../static/images/Rascador.jpg" alt="Rascador">
      <h3>Rascador</h3>
      <p>Este rascador para gatos de bonito diseño en forma de cactus está fabricado con hilo sisal, madera y tela. 
		 La superficie preparada para rascar es de fibra de polipropileno reciclada. 
		 Se trata de un rascador para gatos estable, robusto, duradero y de fácil mantenimiento.</p>
    </li>
    <li>
      <img src="../static/images/Toallas Humedas.jpg" alt="Toallas Humedas">
      <h3>Toallas Humedas</h3>
      <p>Toallitas húmedas para limpieza rápida y fácil de tus mascotas. 
		 Elimina mugre y bacterias, a la vez que limpia y deodoriza, dejando un agradable aroma cítrico. 
		 Ideales para limpiar zona interna de las orejas y almohadillas de patitas.</p>
    </li>
  </ul>
</section>
</body>
</html>

