<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=devic.width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
		<title>Servicio de Paseo</title>
	</head>
	<body>
        <h1>Servicio de Paseo</h1>
        <table border>
        		<thead>
        			<tr>
						<th>Día</th>
						<th>Lunes</th>   
						<th>Martes</th>  
						<th>Miercoles</th>  
						<th>Jueves</th>  
						<th>Viernes</th>  
						<th>Sabado</th>      			
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<th>Horario</th>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>	
        			</tr>
        			<tr>
        				<th>Paseador</th>
        				<td>Juan Perez</td>
        				<td>Lucas Diaz</td>
        				<td>Juan Perez</td>
        				<td>Maria Gomez</td>
        				<td>Lucas Diaz</td>
        				<td>Roberto Vazquez</td>
        			</tr>
        		</tbody>	
        	</table>	
        
	</body>
</html>