<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Servicio de Paseo</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body class="body-dog-walking-service">
		<header class="navbar" th:replace="~{layouts/header :: header}"></header>
		<div class="text-center">
			<h1 class="text-center title-dog-walking-service">Servicio de Paseo</h1>
		</div>
		<div class="container-dog-walking-service">
			<div class="table-container">
				<table class="table m-3">
        		<thead>
        			<tr>
						<th>Día</th>
						<th>Lunes</th>   
						<th>Martes</th>  
						<th>Miércoles</th>  
						<th>Jueves</th>  
						<th>Viernes</th>  
						<th>Sábado</th>      			
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<th>Horario</th>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>
        				<td>9 a 12 - 16 a 18</td>	
        			</tr>
        			<tr>
        				<th>Paseador</th>
        				<td>Juan Perez</td>
        				<td>Lucas Diaz</td>
        				<td>Juan Perez</td>
        				<td>Maria Gomez</td>
        				<td>Lucas Diaz</td>
        				<td>Roberto Vazquez</td>
        			</tr>
        		</tbody>	
        	</table>
			</div>
		</div>
		<div class="fixed-bottom">
			<footer class="container-fluid" th:replace="~{layouts/footer :: footer}"></footer>        
		</div>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>