<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Servicio de Paseo</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body class="body-dog-walking-service">
		<header class="navbar" th:replace="~{layouts/header :: header}"></header>
		<div class="text-center">
			<h1 class="text-center title-dog-walking-service">Servicio de Paseo</h1>
		</div>
		<div class="text-center">
			<a th:href="@{/servicios/nuevo}" class="btn btn-primary m-3" role="button">Nuevo Servicio de Paseo</a>
		</div>
		<div class="text-center container-dog-walking-service">
			<div class="table-container">
				<table class="table m-3">
        		<thead>
        			<tr>
						<th>Paseador</th>
						<th>Horario Entrada</th>
						<th>Horario Salida</th>
						<th>Horario Entrada</th>
						<th>Horario Salida</th>
						<th>Opciones</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr th:each="servicio: ${servicios}">
        				<td th:text="${servicio.nombrePaseador}"></td>
        				<td th:text="${#temporals.format(servicio.fechaHoraPaseo,'EEEE HH:mm')}"></td>
        				<td th:text="${#temporals.format(servicio.fechaHoraPaseo.plusHours(3),'EEEE HH:mm')}"></td>
        				<td th:text="${#temporals.format(servicio.fechaHoraPaseo.plusHours(7),'EEEE HH:mm')}"></td>
        				<td th:text="${#temporals.format(servicio.fechaHoraPaseo.plusHours(9),'EEEE HH:mm')}"></td>
        				<td>
        					<a th:href="@{/servicios/modificar/}+${servicio.id}" class="btn btn-primary" role="button">Editar</a> 
							<a th:href="@{/servicios/eliminar/}+${servicio.id}" class="btn btn-primary" role="button">Eliminar</a>
        				</td>
        			</tr>
        		</tbody>
        	</table>
			</div>
		</div>
		<div class="fixed-bottom">
			<footer class="container-fluid" th:replace="~{layouts/footer :: footer}"></footer>        
		</div>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>