<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
		<title>Sucursales</title>
	</head>
	
	<body>
		<h1>Sucursales</h1>
		<section>
			<article><h3><b>Sucursal Principal</b></h3>
				<ul>
					<li>Dirección: 3915 Av. General Belgrano</li>
					<li>Telefono de Contacto: 388-4999999</li>
					<li>Horario de atencion: Lunes a viernes: 9:00 a.m. a 8 p.m.<br>
					Sabados a domingo: 9:00 a.m. a 12:30 p.m.</li>
				</ul>
			</article>
			<article><h3><b>Segunda Sucursal</b></h3>
				<ul>
					<li>Dirección: 542 Av. San Martin</li>
					<li>Telefono de Contacto: 388-5888888</li>
					<li>Horario de atencion: Lunes a viernes: 9:00 a.m. a 8 p.m.<br>
					Sabados: 9:00 a.m. a 12:30 p.m.</li>
				</ul>
			</article>
			<article><h3><b>Tercera Sucursal</b></h3>
				<ul>
					<li>Dirección: 712 Sarmiento</li>
					<li>Telefono de Contacto: 388-6777777</li>
					<li>Horario de atencion: Lunes a viernes: 9:00 a.m. a 8 p.m.<br>
					Sabados: 9:00 a.m. a 12:30 p.m.</li>
				</ul>
			</article>
		</section>
	</body>
</html>